.not-selectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}
.paragraph{
    font-size:16px;
}
.h1-title-home{
    font-size:2.3rem;
}
.h1-title{
    font-size: 2.1rem;
}
.h2-title-home{
    font-size:2.2rem;
}
.button{
    font-size: 1.2rem;
}
.g-background{
    background-color: #898989;
}
/*use this class for the buttons like "see more"*/
.darkerg-background{
    background-color: #358f71;
}

.w-background{
    background-color: #97979d;
}
.p-background{
    background-color: #50327c;
}
.g-text{
    color: #2c3649;
}
.b-text{
    color: #fcfcfd;
}
@media screen and (max-width: 600px) {
    .h1-title-home{
        font-size:2.3rem;
    }
    .h1-title-home{
        font-size:2.0rem;
    }
    .h2-title-home{
        font-size: 2.0rem;
    }
    .h2-title{
        font-size:1.8rem;
    }
}
